/* navbar code */
.navbar {
  display: flex;
  justify-content: space-between; }

.nav-button {
  display: inline-block; }

.body {
  height: calc(100% - 50px);
  position: relative; }

.toolbar {
  position: absolute;
  height: 100%;
  top: 0; }

.toolbar-block.always-bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

.toolbar-block.always-bottom > .inner {
  width: 100%;
  position: relative;
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly; }

.toolbar-block .tool-container-outer .css-editor-button-wrapper {
  display: flex;
  justify-content: flex-end; }

.toolbar-block .tool-container-outer .title-cont {
  display: flex;
  justify-content: space-between; }

.toolbar-block .tool-container .row {
  display: flex;
  justify-content: space-around; }

.toolbar-block .elements-list-block {
  display: grid;
  grid-template-columns: auto auto auto; }

.design-container {
  height: 100%;
  width: 100%;
  padding-right: 3rem;
  max-width: calc(100% - 30rem);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.design-container .screen-size-bar-inner {
  display: flex; }

.bottom-bar > .zoom-bar {
  padding: 0.1rem;
  display: inline-flex; }

.bottom-bar > .zoom-bar > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem; }

.bottom-bar > .zoom-bar > div > span {
  font-size: 0.75rem; }

#overlay {
  position: absolute;
  z-index: 9999;
  overflow: hidden; }

#overlay > span {
  display: inline-block; }
