* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  font: normal 400 16px/20px Inter, sans-serif; }

.hide {
  display: none !important; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5rem; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 0.5rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; }

.design-outer {
  zoom: 0.75;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .design-outer {
    zoom: 1; } }
