/*
==>Colors

$nav-color: #2c2c2c;
$color-white-dim: #b3b3b3;
$color-white: #fff;
$selected-item-background: #daebf7;
$design-body-background: #e5e5e5;
$active-menu-background: #18a0fb;

*/
/* navbar code */
.navbar {
  background-color: #2c2c2c;
  color: white; }

.nav-button {
  padding: 15px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  color: #b3b3b3; }

.nav-button.disabled {
  color: white; }

.nav-button.disabled:hover {
  background-color: initial; }

.nav-button:hover {
  background-color: black; }

.nav-button.active, .nav-button:active {
  background-color: #18a0fb;
  color: white; }

.toolbar {
  width: 15rem;
  background-color: #fff;
  overflow-y: auto; }

.toolbar.left-toolbar {
  left: 0;
  border-right: 1px solid #e5e5e5; }

.toolbar.right-toolbar {
  width: 18rem;
  right: 0;
  border-left: 1px solid #e5e5e5; }

.toolbar .toolbar-inner {
  position: relative;
  min-height: 100%;
  width: 100%; }

.toolbar-block {
  padding: 0.5rem;
  border-bottom: 1px solid #e5e5e5; }

.toolbar-block.tree-container {
  height: calc(100% - 20rem);
  overflow: auto; }

.toolbar-block.output-css-container {
  height: 10rem;
  background-color: white;
  overflow: auto;
  padding: 0.5rem; }

.toolbar-block.output-css-container > code {
  line-height: 1.25rem;
  font-weight: bold;
  font-size: 0.75rem;
  color: #333;
  width: 1000%;
  display: block; }

.toolbar-block.always-bottom {
  padding: 0;
  background-color: #f0f0f0;
  border-top: 1px solid #e5e5e5; }

.toolbar-block.always-bottom > .inner > i {
  border-radius: 0.1rem;
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.toolbar-block.always-bottom > .inner > i:hover {
  color: #18a0fb;
  background-color: #e0e0e0; }

.toolbar-block .tool-container-outer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
  color: #333; }

.toolbar-block .tool-container-outer .css-info {
  font-size: 0.75rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
  color: #888; }

.toolbar-block .tool-container-outer .css-editor-textarea-outer {
  padding: 0.5rem;
  overflow: auto;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25); }

.toolbar-block .tool-container-outer .css-editor-textarea-outer > textarea {
  background-color: #111;
  color: white;
  width: 1000%;
  outline: none;
  border: none; }

.toolbar-block .tool-container-outer .css-editor-textarea-outer > textarea:hover {
  background-color: #333;
  color: greenyellow; }

.toolbar-block .tool-container-outer .css-editor-button-wrapper > span {
  background-color: #f0f0f0;
  font-size: 0.75rem;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
  color: #555; }

.toolbar-block .tool-container-outer .css-editor-button-wrapper > span.active {
  background-color: #333;
  color: #f0f0f0; }

.toolbar-block .tool-container-outer .css-editor-button-wrapper > span.active:hover {
  background-color: #444; }

.toolbar-block .tool-container-outer .css-editor-button-wrapper > span:hover {
  border: 1px solid #18a0fb; }

.toolbar-block .tool-container-outer .title-cont > i {
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 0.75rem;
  padding-top: 0.3rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border: 1px solid transparent; }

.toolbar-block .tool-container-outer .title-cont > i:hover {
  border: 1px solid #18a0fb; }

.toolbar-block .tool-container-outer .title-cont > i:active {
  background-color: #18a0fb;
  color: white; }

.toolbar-block .tool-container-outer .title {
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize; }

.toolbar-block .tool-container .row {
  padding-top: 0.5rem; }

.toolbar-block .tool-container .row > span,
.toolbar-block .tool-container .row > input,
.toolbar-block .tool-container .row select {
  text-align: center;
  font-size: 10px;
  padding: 0.25rem; }

.toolbar-block .tool-container .row > span {
  display: block;
  text-align: left; }

.toolbar-block .tool-container .row > span:first-child {
  text-transform: capitalize; }

.toolbar-block .tool-container .row > span:first-child::after {
  content: " :"; }

.toolbar-block .tool-container .row > span.empty::after {
  content: ""; }

.toolbar-block .tool-container .row.item-3 > span,
.toolbar-block .tool-container .row.item-3 > input,
.toolbar-block .tool-container .row.item-3 select {
  width: 30%; }

.toolbar-block .tool-container .row.item-2 > span,
.toolbar-block .tool-container .row.item-2 > input,
.toolbar-block .tool-container .row.item-2 select {
  width: 45%; }

.toolbar-block .tool-container .row > input {
  border: none;
  outline: none;
  background-color: #e5e5e5; }

.toolbar-block .elements-list-block .element {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: #f0f0f0;
  margin: 0.25rem;
  border-radius: 0.15rem;
  padding: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: 3rem;
  border: 0.5px solid #aaa;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #777; }

.toolbar-block .elements-list-block .element:hover {
  border: 0.5px solid #18a0fb;
  background-color: #18a0fb;
  color: white; }

.toolbar-block .elements-list-block .element:active {
  background-color: blue; }

.toolbar-block .elements-list-block .element > i {
  font-size: 10px;
  margin-right: 0.1rem; }

.toolbar-block .elements-list-block .element > span {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase; }

.elements-wrapper {
  padding-bottom: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative; }

.elements-wrapper .element {
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0.25rem;
  padding-left: 1.35rem;
  padding-right: 0;
  padding-bottom: 0; }

.elements-wrapper .element.pl-none {
  padding-left: 0; }

.elements-wrapper .element.pl-none::before {
  content: "";
  border-left: none;
  position: absolute;
  height: 100%; }

.elements-wrapper .element.active > .name {
  border: 1px solid #18a0fb; }

.elements-wrapper .element::before {
  left: 1rem;
  content: "";
  border-left: 1px solid #b3b3b3;
  position: absolute;
  height: 100%; }

.elements-wrapper .element .name {
  min-width: 8rem;
  text-transform: lowercase;
  color: #333;
  border-radius: 0.1rem;
  border: 1px solid transparent;
  padding-left: 0.5rem;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.elements-wrapper .element .name .far {
  font-size: 0.75rem;
  color: #b3b3b3; }

.elements-wrapper .element .name .fa-genderless,
.elements-wrapper .element .name .fa-caret-down,
.elements-wrapper .element .name .fa-caret-right {
  color: #888;
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.elements-wrapper .element .name .fa-genderless:hover,
.elements-wrapper .element .name .fa-caret-down:hover,
.elements-wrapper .element .name .fa-caret-right:hover {
  color: black; }

.elements-wrapper .element .name:hover {
  border: 1px solid #18a0fb;
  background-color: #f0f0f0; }

.elements-wrapper .element .name:active {
  background-color: #18a0fb;
  color: white; }

.elements-wrapper .element .name:active > i {
  color: white; }

.elements-wrapper .element .name > i {
  font-size: 12px;
  margin-right: 0.25rem; }

.elements-wrapper .element .name > span {
  font-size: 13px; }

.design-container .screen-size-bar {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #555;
  background-color: #333; }

.design-container .screen-size-bar-inner {
  overflow-y: auto; }

.design-container .screen-size-bar-inner > span {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  margin: 0.25rem;
  border-radius: 0.1rem;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #222;
  color: white; }

.design-container .screen-size-bar-inner > span.active {
  background-color: #f0f0f0;
  color: #333; }

.design-container .screen-size-bar-inner > span:hover {
  border: 1px solid #18a0fb; }

.design-container .screen-size-bar-inner > span:active {
  background-color: #18a0fb;
  color: white; }

.design-wrapper {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow: auto; }

.design-wrapper .design-outer {
  position: relative;
  overflow: hidden; }

.design-wrapper .design-outer.desktop {
  width: 1920px;
  height: 1080px; }

.design-wrapper .design-outer.tablet {
  width: 1024px;
  height: 1366px; }

.design-wrapper .design-outer.mobile {
  width: 414px;
  height: 736px; }

.design-wrapper .design-inner {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.bottom-bar {
  background-color: #2c2c2c;
  color: white;
  border-top: 1px solid #e5e5e5; }

.bottom-bar > .zoom-bar > i {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: #777; }

.bottom-bar > .zoom-bar > i:hover {
  background-color: #18a0fb; }

.cl-dim {
  color: #b3b3b3; }

#overlay {
  background-color: rgba(255, 0, 0, 0.1); }

#overlay > span {
  background-color: rgba(0, 0, 255, 0.1); }
