@import url("https://proicons.netlify.app/css/icons.min.css");

$nav-color: #2c2c2c;
$color-white-dim: #b3b3b3;
$color-white: #fff;
$selected-item-background: #daebf7;
$design-body-background: #e5e5e5;
$active-menu-background: #18a0fb;

.main-inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.css-editor-bottom {
  @keyframes load-editor {
    0% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  animation: load-editor 0.5s ease-in-out;

  position: relative;
  // height: 15rem !important;

  &.right {
    height: auto !important;
    min-width: 20rem;
    width: 25rem !important;
  }
}

.output-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  padding: 5rem;
  background: transparent;
  cursor: pointer;

  @keyframes load {
    0% {
      right: 100vw;
    }
    100% {
      right: 0;
    }
  }

  animation: load 0.5s ease-in-out;

  filter: drop-shadow(0px 0px 1rem black);

  & > .window-title {
    max-width: 1024px;
    margin: 0 auto;
    background: $nav-color;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.4rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 0.25rem solid $active-menu-background;

    & > i {
      font-size: 1.5rem;
      padding-right: 0.25rem;
      border: 1px solid transparent;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      color: $color-white-dim;
      &:hover {
        color: $active-menu-background;
      }
    }
  }

  & > #output-ace {
    border: 0.1rem solid #18a0fb;
    border-top: transparent;

    // border-bottom-left-radius: 0.25rem;
    // border-bottom-right-radius: 0.25rem;

    opacity: 0.95;
    width: 100% !important;
    height: 100% !important;
    max-width: 1024px;
    margin: 0 auto;
  }
}

// Navbar css
.navbar {
  background-color: $nav-color;
  color: white;
  display: flex;
  justify-content: space-between;
}

.body-wrapper {
  position: relative;
  flex-grow: 1;
}

.body {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.css-editor {
  min-height: 20rem;
  background-color: #222;
}

.nav-button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 15px;
  cursor: pointer;
  color: $color-white-dim;
  display: inline-block;
  position: relative;

  i {
    margin-right: 0.5rem;
  }
  &.disabled {
    color: white;
    &:hover {
      background-color: initial;
    }
  }
  &:hover {
    background-color: black;
  }
  &.active,
  &:active {
    background-color: $active-menu-background;
    color: white;
  }
}
.toolbar {
  min-width: 15rem;
  height: 100%;
  background-color: $color-white;
  top: 0;
  overflow-y: auto;

  &.left-toolbar {
    left: 0;
    border-right: 1px solid #e5e5e5;
    & > .toolbar-inner {
      display: flex;
      flex-direction: column;
    }
  }

  &.right-toolbar {
    width: 18rem;
    right: 0;
    border-left: 1px solid #e5e5e5;
  }

  .toolbar-inner {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.toolbar-block {
  padding: 0.5rem;
  border-bottom: 1px solid #e5e5e5;

  &.element-container {
    min-height: 10rem;
    overflow-y: auto;
  }

  &.tree-container {
    // height: calc(100% - 20rem);
    flex-grow: 1;
    overflow: auto;
  }

  &.output-css-container {
    height: 10rem;
    min-height: 10rem;
    background-color: #222;
    overflow: auto;
    padding: 0.5rem;
    & > code {
      line-height: 1.25rem;
      font-weight: bold;
      font-size: 0.75rem;
      color: #333;
      width: 1000%;
      display: block;
    }
  }

  &.always-bottom {
    padding: 0;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;

    border-top: 1px solid #e5e5e5;
    & > .inner {
      width: 100%;
      position: relative;
      padding: 0;
      margin-top: 0;
      display: flex;
      justify-content: space-evenly;

      & > i {
        border-radius: 0.1rem;
        cursor: pointer;
        padding: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        &:hover {
          color: $active-menu-background;
          background-color: #e0e0e0;
        }
      }
    }
  }

  .tool-container-outer {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
    color: #333;

    .css-info {
      font-size: 0.75rem;
      font-weight: bold;
      padding-bottom: 0.25rem;
      color: #888;
    }

    .css-editor-textarea-outer {
      padding: 0.5rem;
      overflow: auto;
      box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 0.25);
      & > textarea {
        background-color: #111;
        color: white;
        width: 1000%;
        outline: none;
        border: none;
        &:hover {
          background-color: #333;
          color: greenyellow;
        }
      }
    }

    .css-editor-button-wrapper {
      display: flex;
      justify-content: flex-end;
      & > span {
        background-color: #f0f0f0;
        font-size: 0.75rem;
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
        border: 1px solid transparent;
        cursor: pointer;
        font-weight: bold;
        color: #555;
        &.active {
          background-color: #333;
          color: #f0f0f0;

          &:hover {
            background-color: #444;
          }
        }
        &:hover {
          border: 1px solid $active-menu-background;
        }
      }
    }

    .title-cont {
      display: flex;
      justify-content: space-between;
      & > i {
        background-color: #f0f0f0;
        cursor: pointer;
        font-size: 0.75rem;
        padding-top: 0.3rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $active-menu-background;
        }
        &:active {
          background-color: $active-menu-background;
          color: white;
        }
      }
    }

    .title {
      font-size: 13px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .tool-container {
    .row {
      padding-top: 0.5rem;
      display: flex;
      justify-content: space-around;

      & > span,
      & > input,
      select {
        text-align: center;
        font-size: 10px;
        padding: 0.25rem;
      }

      & > span {
        display: block;
        text-align: left;
        &:first-child {
          text-transform: capitalize;
          &::after {
            content: " :";
          }
        }
        &.empty {
          &::after {
            content: "";
          }
        }
      }

      &.item-3 {
        & > span,
        & > input,
        select {
          width: 30%;
        }
      }
      &.item-2 {
        & > span,
        & > input,
        select {
          width: 45%;
        }
      }
      & > input {
        border: none;
        outline: none;
        background-color: $design-body-background;
      }
    }
  }

  .elements-list-block {
    display: grid;
    grid-template-columns: auto auto auto;
    .element {
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      cursor: pointer;
      text-align: center;
      display: inline-block;
      background-color: #f0f0f0;
      margin: 0.25rem;
      // margin-top: 0.5rem;
      border-radius: 0.15rem;
      padding: 0.1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      min-width: 3rem;
      border: 0.5px solid #aaa;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      color: #777;
      &:hover {
        border: 0.5px solid $active-menu-background;
        background-color: $active-menu-background;
        color: white;
      }
      &:active {
        background-color: blue;
      }
      & > i {
        font-size: 10px;
        margin-right: 0.1rem;
      }
      & > span {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.elements-wrapper {
  padding-bottom: 2rem;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  .element {
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    padding: 0.25rem;
    padding-left: 1.35rem;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    &.pl-none {
      padding-left: 0;
      &::before {
        content: "";
        border-left: none;
        position: absolute;
        height: 100%;
      }
    }
    &.hover {
      & > .name {
        border: 1px solid $color-white-dim;
        background-color: #f0f0f0;
      }
    }

    &.active {
      & > .name {
        border: 1px solid $active-menu-background;
      }
    }

    &::before {
      left: 1rem;
      content: "";
      border-left: 1px solid $color-white-dim;
      position: absolute;
      height: 100%;
    }

    .name {
      min-width: 8rem;

      text-transform: lowercase;
      .far {
        //   color: $active-menu-background;
        font-size: 0.75rem;
        color: $color-white-dim;
      }
      .fa-genderless,
      .fa-caret-down,
      .fa-caret-right {
        color: #888;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        &:hover {
          color: black;
        }
      }
      color: #333;
      border-radius: 0.1rem;
      border: 1px solid transparent;
      padding-left: 0.5rem;
      cursor: pointer;

      user-select: none;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        border: 1px solid $active-menu-background;
        background-color: #f0f0f0;
      }
      &:active {
        background-color: $active-menu-background;
        color: white;
        & > i {
          color: white;
        }
      }

      & > i {
        font-size: 12px;
        margin-right: 0.25rem;
      }
      & > span {
        font-size: 13px;
      }
    }
  }
}
.design-wrapper {
  position: relative;
  flex-grow: 1;
}
.design-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 385px;

  .screen-size-bar {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #555;
    background-color: #333;
    display: flex;
    justify-content: space-between;
  }

  .screen-size-bar-inner {
    overflow-y: auto;
    display: flex;

    &.bottom {
      display: block;
      align-self: center;
    }
    & > span {
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      font-size: 0.75rem;

      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: inline-block;
      margin: 0.25rem;
      border-radius: 0.1rem;
      cursor: pointer;
      border: 1px solid transparent;

      background-color: #222;
      color: white;

      &.active {
        background-color: #f0f0f0;
        color: #333;
      }

      &:hover {
        border: 1px solid $active-menu-background;
      }
      &:active {
        background-color: $active-menu-background;
        color: white;
      }
    }
  }
}

.design-wrapper {
  background-color: $design-body-background;
  height: 100%;
  width: 100%;
  // padding: 1rem;
  overflow: auto;

  .design-outer {
    position: relative;
    overflow: hidden;
    margin: 1rem;

    &.desktop {
      width: 1920px;
      height: 1080px;
    }
    &.tablet {
      width: 1024px;
      height: 1366px;
    }
    &.mobile {
      width: 414px;
      height: 736px;
    }
  }

  .design-inner {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.bottom-bar {
  background-color: $nav-color;
  color: white;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;

  & > .zoom-bar {
    padding: 0.1rem;
    display: inline-flex;
    & > div {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0.5rem;
      & > span {
        font-size: 1rem;
        font-weight: bold;
        min-width: 3rem;
        text-align: center;
        user-select: none;
      }
    }
    & > i {
      display: block;
      border-radius: 0.25rem;
      cursor: pointer;
      padding: 0.25rem;
      margin: 0.25rem;
      background-color: #777;
      padding-bottom: 0.1rem;
      &:hover {
        background-color: #18a0fb;
      }
    }
  }
}

.cl-dim {
  color: $color-white-dim;
}

#overlay {
  background-color: rgba($color: red, $alpha: 0.1);
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  & > span {
    display: block;
    background-color: rgba($color: blue, $alpha: 0.1);
  }
}

.custom-dropdown {
  left: -0.5rem;
  top: -0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  border-radius: 0.5rem;
  background-color: $nav-color;
  z-index: 999;
  overflow: hidden;

  & > div {
    user-select: none;
    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: grid;
    color: white;
    display: grid;
    grid-template-columns: 1.5rem auto;
    & > div {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.active {
      & > div {
        visibility: visible;
      }
    }

    &:hover {
      background-color: $active-menu-background;
    }
  }
}

.dynamic-block {
  display: flex;
  justify-content: space-between;
  color: #444;
  margin: 0.25rem;
  & > div {
    position: relative;
    min-width: 1rem;
    text-align: center;
    padding: 0.25rem;
    border-radius: 0.15rem;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;

    &.text {
      & > span {
        display: inline-block;
        outline: none;
        min-width: 2rem;
      }
    }

    &.block-minus {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      .fa-minus {
        color: #444;
        padding-top: 0.25rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }
    &:hover {
      border: 1px solid $color-white-dim;
    }
  }
  * {
    font-size: 0.75rem;
  }
  .block-q {
    display: flex;
    flex-wrap: nowrap;
    &:after {
      content: ":";
      margin-left: 0.25rem;
    }
  }
}

// Menu Item start

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.menu-item {
  transition: all 0.1s ease-in-out;
  position: absolute;
  z-index: 1;
  background-color: $nav-color;
  top: calc(100% + 0.75rem);
  padding: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  min-width: 14rem;
  display: flex;
  flex-direction: column;
  left: 0.75rem;
  border-radius: 0.25rem;

  filter: drop-shadow(0px 0px 6px $nav-color);
  color: white;
  font-size: 0.85rem;
  animation: fade-in 0.1s linear;

  &:before {
    content: " ";
    z-index: 1;
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 0.75rem;
    bottom: calc(100% - 0.25rem);
    background: $nav-color;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  & > div {
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $active-menu-background;
    }
  }
}

.menu-item-button {
  display: flex;
  gap: 0.5rem;
  & > i,
  & > span {
    align-self: center;
  }
}

.row-resizer {
  height: 0.25rem;
  cursor: row-resize;
  background-color: $active-menu-background;
  position: relative;
  &:hover {
    background-color: $color-white-dim;

    &:after {
      background-color: rgba($color: $active-menu-background, $alpha: 0.5);
      height: 0.75rem;
      content: " ";
      position: absolute;
      width: 100%;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.anim-rotate {
  @keyframes rotate-it {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  animation: rotate-it 1s infinite linear;
}

.file-name-progress {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  .file-name {
    text-overflow: ellipsis;
    max-width: 5rem;
    overflow: hidden;
  }
}

.ifram-container {
  background-color: white;
  position: relative;

  & > .open-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    i {
      transition: all 0.4s ease-in-out;

      font-size: 0;
      position: relative;
      top: 1.5rem;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.25);
      backdrop-filter: blur(0.5px);
      i {
        display: block;
        top: 0;
        font-size: 2rem;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > iframe {
    zoom: 0.25;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
  }
}

.all-design-app-bar {
  position: fixed;
  z-index: 99;
  background-color: white;
  width: 100%;
  box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.29);
  padding: 0.5rem;
}

.iframes-holder {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
